* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------------------------------------------------- CSS Header */


body{
    background-color: #fceeff;
    padding: 0px;
    margin: 0px;
}

.top-bar{
    background-color: #fceeff;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #002b4a;
    font-family: Belanosima;
    font-size: 17px;
    justify-content: flex-end;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.search-container {
    position: relative;
    width: 250px;
    height: 35px;
    border: 1px solid #002b4a;
    border-radius: 20px;
    overflow: hidden;
}

.search-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #002b4a;
}

.search-container input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 35px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    background-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: #002b4a;
    padding: 0px 25px;
    text-decoration: none;
    border-radius: 0px;
    transition: color 0.4s;
    transition: font-size 0.2s;
}

nav ul li a:hover {
    color: #8269ff;
    font-size: 19px;
}

.logo-sutomo {
    height: 50px;
    width: 50px;
    margin-right: auto;
    margin-left: 17px;
}



main {
    padding: 20px;
}

.teacher-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teacher-item {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.teacher-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 20vw; /* Adjust this value as needed */
}

.teacher-info {
    padding: 10px;
    text-align: left;
}

.teacher-item h3 {
    color: #ff9900;
    margin: 10px 0;
}

.teacher-item p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}